
//- nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top.navbar-select
    .container-fluid.hideNavbar
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarTogglerDemo03", aria-        controls="navbarTogglerDemo03", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        a.navbar-brand(href="/") RESUME BUIDER
        .collapse.navbar-collapse#navbarTogglerDemo03
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active(href="#", aria-current="page") Home
                li.nav-item
                    a.nav-link(href="#") About 




<header class="px-4 lg:px-6 h-14 flex items-center postion-fixed">
    <a class="flex items-center justify-center" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
            <path d="m8 3 4 8 5-5 5 15H2L8 3z"></path>
        </svg>
        <span class="sr-only">Acme Inc</span>
    </a>
    <nav class="ml-auto flex gap-4 sm:gap-6">


        if user
            form.d-flex.gap-2
                if (user.role == 'assign')
                    a.btn(class="bg-black text-white" href="/createBitForm" id="publishBtn") Publish New Project


                a.btn(class="bg-black text-white" id="logoutbtn") Logout
                a.btn.btn-outline-primary(href="/profile") Profile



            //- <a class="text-sm font-medium hover:underline underline-offset-4" href="#">
            //-     |Features
            //- </a>
            //- <a class="text-sm font-medium hover:underline underline-offset-4" href="#">
            //-     |Pricing
            //- </a>
            //- <a class="text-sm font-medium hover:underline underline-offset-4" href="#">
            //-     |About
            //- </a>
            //- <a class="text-sm font-medium hover:underline underline-offset-4" href="#">
            //-     |Contact
            //- </a>
            //- button.btn.btn-outline-danger.logout Logout
            //- a.btn(href='/me') 
            //-     img(src="./img/web/profile.png", class="img-fluid  rounded-circle", alt="..." style="max-width: 30px;")
            //-     p.card-text.text-white=user.name.split(' ')[0]


        else    
            form.d-flex.gap-2
                a.btn.bg-blue-300(href="/freesignup") FreeLancer Signup
                a.btn.bg-blue-500(href="/assignsignup") Assigner Signup
                a.btn.bg-blue-300(href="/login")  login
                
    </nav>
</header>












