extends home
block content   
    .flex.min-h-screen.flex-col.items-center.justify-center(class='')
        .rounded-lg.p-8.text-white(class='bg-gray-500 py-5 w-full lg:w-3/4')
            h1.text-center.text-4xl.font-bold FreeLancer Signup
            p.mt-2.text-center Please enter all the details
            form.mt-8.space-y-6(id="freeform")
                div(class="grid grid-cols-1 lg:grid-cols-2")
                    .flex.items-center(class="w-full lg:w-3/4 m-3")
                        p.text-sm.font-semibold(class="basis-1/4") Name
                        input.flex.h-10.text-sm.ring-offset-background.w-full.rounded-md.border-2.border-gray-300.bg-transparent.py-2.px-4.leading-tight.text-white.placeholder-gray-300(class='file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500', placeholder='Name', type='text' id="userName" required="true")

                    .flex.items-center(class="w-full lg:w-3/4 m-3")
                        p.text-sm.font-semibold(class="basis-1/4")  Email
                        input.flex.h-10.text-sm.ring-offset-background.w-full.rounded-md.border-2.border-gray-300.bg-transparent.py-2.px-4.leading-tight.text-white.placeholder-gray-300(class='file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500', placeholder='Email', type='text' id="email" required="true")


                    .flex.items-center(class="w-full lg:w-3/4 m-3")
                        p.text-sm.font-semibold(class="basis-1/4")  Password
                        input.flex.h-10.text-sm.ring-offset-background.w-full.rounded-md.border-2.border-gray-300.bg-transparent.py-2.px-4.leading-tight.text-white.placeholder-gray-300(class='file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500', placeholder='Password', type='text' id="password" required="true")

                    .flex.items-center(class="w-full lg:w-3/4 m-3")
                        p.text-sm.font-semibold(class="basis-1/4")  Confirm Password
                        input.flex.h-10.text-sm.ring-offset-background.w-full.rounded-md.border-2.border-gray-300.bg-transparent.py-2.px-4.leading-tight.text-white.placeholder-gray-300(class='file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500', placeholder='Email', type='text' id="cnfPassword" required="true")

                    .flex.items-center(class="w-full lg:w-3/4 m-3")
                        p.text-sm.font-semibold(class="basis-1/4")  Phone
                        input.flex.h-10.text-sm.ring-offset-background.w-full.rounded-md.border-2.border-gray-300.bg-transparent.py-2.px-4.leading-tight.text-white.placeholder-gray-300(class='file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500', placeholder='Phone no', type='text' id="phone" required="true")

                    .flex.items-center(class="w-full lg:w-3/4 m-3")
                        p.text-sm.font-semibold(class="basis-1/4")  Age
                        input.flex.h-10.text-sm.ring-offset-background.w-full.rounded-md.border-2.border-gray-300.bg-transparent.py-2.px-4.leading-tight.text-white.placeholder-gray-300(class='file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500', placeholder='Age', type='text' id="age" required="true")



                    .flex.items-center(class="w-full lg:w-3/4 m-3")
                        p.text-sm.font-semibold(class="basis-1/4")   Bio
                        textarea.flex.h-44.text-sm.ring-offset-background.w-full.rounded-md.border-2.border-gray-300.bg-transparent.py-2.px-4.leading-tight.text-white.placeholder-gray-300(class='file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500', placeholder='Define something about you so that others can find something important about you', type='text' id="bio")



                    div(class="flex justify-center w-1/2 bg-black h-1/4 m-auto rounded-full")
                        <input type="submit" value="| Sign up">
